*For excerises 1-4, use the Yelp business json file. For exercises 5-6, use the Yelp review json file.*

# Exercise 1: Create a new column that contains only the zipcode.

In [240]:
import json
import pandas as pd

In [241]:
business = []
# loading the json from the local file, assigning to business
with open("yelp_academic_dataset_business.json") as file:
    for line in file:
        business.append(json.loads(line))
business = pd.DataFrame(business)
business.head(2)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business
1,"{'Happy Hour': True, 'Accepts Credit Cards': T...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business

In [242]:
# assigning the zipcode as the last item in the split string to a new column
business_split = business['full_address'].str.split(' ')
business['zipcode'] = business_split.str[-1]

In [243]:
business['zipcode'].head()

0    15034
1    15034
2    15234
3    15104
4    15104
Name: zipcode, dtype: object

# Exercise 2: The table contains a column called 'categories' and each entry in this column is populated by a list. We are interested in those businesses that restaurants. Create a new column 'Restaurant_type' that contains a description of the restaurant based on the other elements of 'categories. 
## That is, if we have '[Sushi Bars, Japanese, Restaurants]' in categories the 'Restaurant_type will be '{'SushiBars': 1, 'Japanese': 1, 'Mexican': 0, ...}'

In [245]:
from collections import Counter
def restaurant_type_creation(business):
    # creating a counter dictionary to count the category types, then append that dictionary to a list
    restaurant_dict = Counter()
    
    restaurant_list = []
    for x in range(business['categories'].count()):
        for category_list in business['categories'].iloc[x:x+1]:
            for category in category_list:
                restaurant_dict[category] += 1
            restaurant_list.append(restaurant_dict)
            restaurant_dict = Counter()
    return restaurant_list

In [246]:
# adding the list of category dictionaries to a new column
business['restaurant_type'] = restaurant_type_creation(business)

In [247]:
business.head(2)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,zipcode,restaurant_type
0,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business,15034,"{'Fast Food': 1, 'Restaurants': 1}"
1,"{'Happy Hour': True, 'Accepts Credit Cards': T...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business,15034,{'Nightlife': 1}

# Exercise 3: Lets clean the 'attributes' column. The entries in this column are dictionaries. We need to do two things: 
## 1) Turn all the True or False in the dictionary to 1s and 0s.
## 2) There are some entries within dictionaries that are dictionaries themselves, lets turn the whole entry into just one dictionary, for example if we have 
### '{'Accepts Credit Cards': True, 'Alcohol': 'none','Ambience': {'casual': False,'classy': False}}' 
### then turn it into
### '{'Accepts Credit Cards':1, 'Alcohol_none': 1, 'Ambience_casual': 0, 'Ambience_classy': 0}'. 
### There might be other entries like {'Price Range': 1} where the values are numerical so we might want to change that into {'Price_Range_1': 1}.

*The reason we modify categorical variables like this is that machine learning algorithms cannot interpret textual data like "True" and "False". They need numerical inputs such as 1 and 0.*

In [248]:
business_attributes = business['attributes']

In [249]:
def reassign_attributes(df):
    attribute_dict = {}
    
    for row, value in df.items():
        row_dict = {}
        for attribute, truefalse in value.items():
            # taking account of the different cases of values for the attributes dictionary
            underscore_attribute = attribute.replace(' ', '_')
            if truefalse == True:
                row_dict[underscore_attribute] = 1
            elif truefalse == False:
                row_dict[underscore_attribute] = 0
            elif isinstance(truefalse, str):
                row_dict[underscore_attribute + '_' + truefalse] = 1
            elif isinstance(truefalse, int):
                row_dict[underscore_attribute + '_' + str(truefalse)] = 1
            else:
                # iterating over the dict in dict
                for classifier, truefalse2 in truefalse.items():
                    if truefalse2 == True:
                        row_dict[underscore_attribute + '_' + classifier] = 1
                    elif truefalse2 == False:
                        row_dict[underscore_attribute + '_' + classifier] = 0
        attribute_dict[row] = row_dict

    return attribute_dict

In [250]:
business_attributes = reassign_attributes(business_attributes)
[business_attributes[x] for x in range(3)]

[{'Accepts_Credit_Cards': 1,
  'Alcohol_none': 1,
  'Ambience_casual': 0,
  'Ambience_classy': 0,
  'Ambience_divey': 0,
  'Ambience_hipster': 0,
  'Ambience_intimate': 0,
  'Ambience_romantic': 0,
  'Ambience_touristy': 0,
  'Ambience_trendy': 0,
  'Ambience_upscale': 0,
  'Attire_casual': 1,
  'Caters': 0,
  'Delivery': 0,
  'Drive-Thru': 0,
  'Good_For_Groups': 1,
  'Good_For_breakfast': 0,
  'Good_For_brunch': 0,
  'Good_For_dessert': 0,
  'Good_For_dinner': 0,
  'Good_For_latenight': 0,
  'Good_For_lunch': 0,
  'Good_for_Kids': 1,
  'Has_TV': 0,
  'Noise_Level_average': 1,
  'Outdoor_Seating': 0,
  'Parking_garage': 0,
  'Parking_lot': 0,
  'Parking_street': 0,
  'Parking_valet': 0,
  'Parking_validated': 0,
  'Price_Range': 1,
  'Take-out': 1,
  'Takes_Reservations': 0,
  'Waiter_Service': 0},
 {'Accepts_Credit_Cards': 1,
  'Good_For_Groups': 1,
  'Happy_Hour': 1,
  'Outdoor_Seating': 0,
  'Price_Range': 1},
 {'Good_for_Kids': 1}]

In [251]:
business['attributes'] = pd.Series(business_attributes)
business.head(3)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,zipcode,restaurant_type
0,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business,15034,"{'Fast Food': 1, 'Restaurants': 1}"
1,"{'Happy_Hour': 1, 'Accepts_Credit_Cards': 1, '...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business,15034,{'Nightlife': 1}
2,{'Good_for_Kids': 1},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business,15234,"{'Active Life': 1, 'Mini Golf': 1, 'Golf': 1}"

# Exercise 4: Create a new column for every day of the week and fill it with the amount of hours the business is open that day.

*Your approach should handle businesses that stay open late like bars and nightclubs.*

In [353]:
from datetime import datetime, timedelta
import numpy as np

In [354]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [351]:
def reassign_hours(df):
    
    time_format = '%H:%M'

    try:
        # taking in the closing and opening time of each day, converting to datetime object
        close_time = datetime.strptime(df['hours'][day]['close'], time_format)
        open_time = datetime.strptime(df['hours'][day]['open'], time_format)

        open_hours = close_time - open_time
        
        # adds hours to the next day if it closes past midnight
        if open_hours < timedelta(days=0):
            open_hours += timedelta(days=1)

    except:
        open_hours = timedelta(days=0)
    return open_hours

In [305]:
for day in days:
    business[day] = business.apply(lambda x: reassign_hours(x, day), 1)

In [307]:
business.head(6)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,...,type,zipcode,restaurant_type,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday
0,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],...,business,15034,"{'Fast Food': 1, 'Restaurants': 1}",00:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,00:00:00
1,"{'Happy_Hour': 1, 'Accepts_Credit_Cards': 1, '...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],...,business,15034,{'Nightlife': 1},00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
2,{'Good_for_Kids': 1},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],...,business,15234,"{'Active Life': 1, 'Mini Golf': 1, 'Golf': 1}",00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
3,"{'Alcohol_full_bar': 1, 'Noise_Level_average':...",mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",40.408830,-79.866211,Emil's Lounge,[],...,business,15104,"{'Bars': 1, 'American (New)': 1, 'Nightlife': ...",00:00:00,00:00:00,09:00:00,09:00:00,09:00:00,10:00:00,06:00:00
4,"{'Parking_garage': 0, 'Parking_street': 0, 'Pa...",mYSpR_SLPgUVymYOvTQd_Q,"[Active Life, Golf]",Braddock,"1000 Clubhouse Dr\nBraddock, PA 15104","{'Sunday': {'close': '15:00', 'open': '10:00'}...",40.403405,-79.855782,Grand View Golf Club,[],...,business,15104,"{'Active Life': 1, 'Golf': 1}",05:00:00,00:00:00,00:00:00,09:00:00,09:00:00,09:00:00,09:00:00
5,"{'Alcohol_full_bar': 1, 'Noise_Level_loud': 1,...",KayYbHCt-RkbGcPdGOThNg,"[Bars, American (Traditional), Nightlife, Rest...",Carnegie,"141 Hawthorne St\nGreentree\nCarnegie, PA 15106","{'Monday': {'close': '02:00', 'open': '11:00'}...",40.415486,-80.067549,Alexion's Bar & Grill,[Greentree],...,business,15106,"{'Bars': 1, 'American (Traditional)': 1, 'Nigh...",10:00:00,15:00:00,15:00:00,15:00:00,15:00:00,15:00:00,14:00:00

# Exercise 5: Create a table with the average review for a business.

*You will need to pull in a new json file and merge DataFrames for the next 2 exercises.*

In [355]:
reviews = []
# loading the json from the local file, assigning to reviews
with open("yelp_academic_dataset_review.json") as file:
    for line in file:
        reviews.append(json.loads(line))
reviews = pd.DataFrame(reviews)
reviews.head(2)

,business_id,date,review_id,stars,text,type,user_id,votes
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'useful': 0, 'cool': 0}"
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'useful': 0, 'cool': 0}"

In [397]:
# assigning average stars to busniess_id's and then left joining it to the original table to retain all the original rows
average_review = reviews.groupby('business_id')['stars'].mean().reset_index()

In [398]:
reviews = reviews.merge(average_review, how='left', on='business_id')

# Exercise 6: Create a new table that only contains restaurants with the following schema:
## Business_Name | Restaurant_type | Friday hours | Saturday hours | Attributes | Zipcode | Average Rating

In [399]:
business_reviews = pd.merge(business, reviews, on='business_id', suffixes=['_business', '_reviews'])
print(business_reviews.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2685066 entries, 0 to 2685065
Data columns (total 32 columns):
attributes         object
business_id        object
categories         object
city               object
full_address       object
hours              object
latitude           float64
longitude          float64
name               object
neighborhoods      object
open               bool
review_count       int64
stars              float64
state              object
type_business      object
zipcode            object
restaurant_type    object
Sunday             timedelta64[ns]
Monday             timedelta64[ns]
Tuesday            timedelta64[ns]
Wednesday          timedelta64[ns]
Thursday           timedelta64[ns]
Friday             timedelta64[ns]
Saturday           timedelta64[ns]
date               object
review_id          object
stars_x            int64
text               object
type_reviews       object
user_id            object
votes              object
stars_y            float64
dtypes: bool(1), float64(4), int64(2), object(18), timedelta64[ns](7)
memory usage: 658.1+ MB
None

In [400]:
business_reviews.head(2)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,...,Friday,Saturday,date,review_id,stars_x,text,type_reviews,user_id,votes,stars_y
0,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],...,10:00:00,0 days,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571
1,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],...,10:00:00,0 days,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'useful': 0, 'cool': 0}",3.428571

In [402]:
data = [business_reviews['name'], business_reviews['restaurant_type'], 
                         business_reviews['Friday'], business_reviews['Saturday'],
                         business_reviews['attributes'], business_reviews['zipcode'], 
                         business_reviews['stars_y']]
final_table = pd.concat(data, axis=1)

In [403]:
final_table.head()

,name,restaurant_type,Friday,Saturday,attributes,zipcode,stars_y
0,Mr Hoagie,"{'Fast Food': 1, 'Restaurants': 1}",10:00:00,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",15034,3.428571
1,Mr Hoagie,"{'Fast Food': 1, 'Restaurants': 1}",10:00:00,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",15034,3.428571
2,Mr Hoagie,"{'Fast Food': 1, 'Restaurants': 1}",10:00:00,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",15034,3.428571
3,Mr Hoagie,"{'Fast Food': 1, 'Restaurants': 1}",10:00:00,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",15034,3.428571
4,Mr Hoagie,"{'Fast Food': 1, 'Restaurants': 1}",10:00:00,0 days,"{'Take-out': 1, 'Drive-Thru': 0, 'Good_For_des...",15034,3.428571